.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #dfdede;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #736301;
    background-color: #fdf29d;
    text-decoration: none;
    border-radius: 5px;
}

.hero-image img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 700px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-image {
        margin-top: 20px;
    }
}